#divBusca{
  background-color:rgba(247, 240, 226, 0.774);
  border:solid 2px rgb(228, 148, 73);
  widows: 90%;
  height:40px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;
}
 
#txtBusca{
  float:left;
  background-color:transparent;
  padding-left: 5px; 
  font-size:18px;
  border:none;
  height:40px;
  width:100%;
}
 
#btnBusca{
  font-size: 16px;
  border:none;
  height:36px;
  width:70px;
  font-weight:bold;
  background:rgb(238, 169, 104);
}

#btnBusca:hover {
  background:rgb(247, 206, 168);
}

#divContainer {
  display: grid;
  grid-gap: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

#divContainer div {
  background-color: rgba(247, 240, 226, 0.774);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#containerImage {
  width: 210px;
  height: 250px;
  grid-column: 1;
  grid-row: 1 / span 2;
}

#imgAvatar {
  width: 200px;
  height: 210px;
}

#containerName {
  grid-column: 2;
  grid-row: 1 / span 2;
}

#nameElement {
  font-size: 30px;
  text-align: center;
  padding-left: 10px;
}

#loginElement {
  font-size: 20px;
  text-align: center;
  padding-left: 10px;
}

#bioElement {
  font-size: 34px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#buttonElement {
  font-size: 16px;
  border:none;
  height:36px;
  width:300px;
  font-weight:bold;
  background:rgb(238, 169, 104);
}

#buttonElement:hover {
  background:rgb(247, 206, 168);
}